@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme {
  --font-serif: "Source Serif Pro", serif;
  --font-heading: "Onyx", "Georgia";
  --font-title: "JQKAS Wild", "Onyx";

  --color-primary: #732614;
  --color-primary-dark: #461818;
  --color-primary-light: #a84530;
  --color-body: #eccf97;
  --color-accent: #ffc940;

  --color-bg-light: #dfcfb5;
  --color-bg-dark: #272724;
  --ui-primary: var(--color-primary);

  --color-grey: #393a35;
  --color-brown: #927a54;

  --ui-bg: var(--color-bg-dark);
  --ui-text-highlighted: var(--color-accent);
  --ui-text-dimmed: var(--color-body);

  --accent-texture: linear-gradient(#ffc9402a, #ffc9407a),
    url("/texture.png") var(--color-accent);
}

@layer base {
  html {
    @apply font-serif;
  }

  button,
  [role="button"] {
    @apply cursor-pointer;
    @apply disabled:cursor-not-allowed;
    @apply font-heading;
    @apply uppercase;
  }

  h1 {
    @apply text-4xl;
    @apply font-heading;
    @apply uppercase;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
    @apply uppercase;
  }

  .main-image {
    object-position: 100% 0;
    @apply object-cover;
  }

  .text-outline {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--color-white);
    paint-order: stroke fill;
  }
}

@layer utilities {
  .list-move, /* apply transition to moving elements */
  .list-enter-active,
  .list-leave-active {
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  }

  .list-enter-from,
  .list-leave-to {
    opacity: 0;
    transform: translateX(30px);
  }

  /* ensure leaving items are taken out of layout flow so that moving
     animations can be calculated correctly. */
  .list-leave-active {
    position: absolute;
  }

  .bg-accent-texture {
    background: var(--accent-texture);
  }
}
