@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme {
  --font-serif: "Source Serif Pro", serif;
  --font-heading: "Onyx", "Georgia";
  --font-title: "JQKAS Wild", "Onyx";

  --color-primary: #732614;
  --color-primary-dark: #461818;
  --color-bg-light: #dfcfb5;
  --ui-primary: var(--color-primary);
}

@layer base {
  html {
    @apply font-serif;
  }

  button,
  [role="button"] {
    @apply cursor-pointer;
    @apply disabled:cursor-not-allowed;
    @apply font-heading;
    @apply uppercase;
  }

  h1 {
    @apply text-4xl mb-2;
    @apply font-heading;
    @apply uppercase;
  }

  .main-image {
    object-position: -188px 155.473%;
    height: 625px;
    @apply absolute;
    @apply left-0;
    @apply top-0;
    @apply -z-10;
    @apply object-cover;
  }

  .text-outline {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--color-white);
    paint-order: stroke fill;
  }
}

@layer utilities {
  .list-move, /* apply transition to moving elements */
  .list-enter-active,
  .list-leave-active {
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  }

  .list-enter-from,
  .list-leave-to {
    opacity: 0;
    transform: translateX(30px);
  }

  /* ensure leaving items are taken out of layout flow so that moving
     animations can be calculated correctly. */
  .list-leave-active {
    position: absolute;
  }
}
